@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        App version: 1.0
    </p>
    <p>
        Machine name: @Environment.MachineName 
    </p>
</div>
